@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-item {
    @apply w-28 flex justify-center items-center text-center rounded-md p-2 px-3 hover:font-medium hover:bg-gray-300 hover:text-teal-600 hover:cursor-pointer dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white dark:hover:font-normal;
  }
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.hero {
  background-image: url('https://user-images.githubusercontent.com/68218563/210024107-0d9573a2-d911-4ba2-aaee-ae18bb03571b.jpg');
  background-size: cover;
  background-position: bottom;
}


input:focus {
  outline: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e8d80;
  border-radius: 10px;
}


.dark-neon-text:hover {
  color: #0e433d;
  text-shadow:
    0 0 7px #0fa,
    0 0 12px #0fa;
}

.light-neon-text:hover {
  text-shadow:
    0 0 2px #37ffe8,
    0 0 7px #29c0ae,
    0 0 20px #36ffe8;
}